/* #4eb2ea */

h2, h3 {
    font-style: italic;
}

@media (min-width: 900px) {
    h1 { 
        font-size: 60px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
}

nav a {
    color: #4eb2ea;
    background: #1e1e1e;
    text-decoration: none;
    margin: 0 15px;
    padding: 20px;
    width: 300px;
    margin: auto;
}
nav b {
    /* selected */
    color: #4eb2ea;
    background: #121212;
    text-decoration: none;
    margin: 0 15px;
    padding: 20px;
    width: 300px;
    margin: auto;
}

section {
    margin: 50px 0;
}

form {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}


input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #00bcd4;
    color: #121212;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

nav a.active {
    color: #ffffff;
    text-decoration: underline;
}

img {
    width: 100%; /* Makes image responsive */
    max-width: 1000px; /* Limits maximum size */
    height: auto; /* Keeps aspect ratio */
}

#contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#contact button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background-color: #4eb2ea;
}

.limited-resize {
    resize: vertical;
    min-height: 200px;
    max-height: 300px;
}


.video-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
}

.video-item {
    position: relative;
    width: 95%;
    padding-bottom: 58.6%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    margin: 0 auto; /* Ensures individual videos are centered in each grid cell */
}

.video-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 98.8%;
    height: 90%;
    border: 3px solid #4eb2ea;
    border-radius: 15px; /* Add rounded corners */
}

/* Style for the video section */
#Commercial, #Narrative, #reel{
    justify-content: center;
    text-align: center;
}

#about {
    max-width: 50%;
    margin: 0 auto;
}

#profile img{
    width: 100%;
    max-width: 400px;
    height: auto; /* Keeps aspect ratio */
}

.bordered-image {
    border: 5px solid #4eb2ea;
    border-radius: 15px; /* Add rounded corners */
    max-width: fit-content;
    max-height: fit-content;
}

.about-image {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

.mission-text {
    flex: 1;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

.flex-child {
    flex: 1;
    margin: 0 auto;
}  
.flex-child:first-child {
    margin-right: 20px;
    margin-left: 50px;
} 

/* Container for the iframe to control layout */
.video {
    display: flex;
    justify-content: center; /* Centers iframe horizontally */
    align-items: center; /* Centers iframe vertically if you set height */
    margin: 20px 0; /* Adds space above and below the video */
    margin: 0 auto;
}

/* Resize the iframe */
.video iframe {
    width: 80%;  /* Adjust width as needed */
    max-width: 800px;  /* Maximum width */
    height: 450px;  /* Adjust height to maintain aspect ratio */
    border: 5px solid #4eb2ea;
    border-radius: 15px; /* Add rounded corners */
}

/* mobile devices */

@media (max-width: 950px) {
    .video-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .video-item iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 98%;
        height: 90%;
        border: 3px solid #4eb2ea;
        border-radius: 15px; /* Add rounded corners */
    }
    .video {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 90%; /* Adjust as needed */
        padding-bottom: 51.1%; /* Maintains 16:9 aspect ratio */
        height: 0;
        margin: 0 auto;
        overflow: hidden; /* Ensures no weird overflow issues */
    }
    
    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 98%;
        height: 97%;
        border: 3px solid #4eb2ea;
        border-radius: 15px; /* Add rounded corners */
    }
    nav a, nav b {
        color: #4eb2ea;
        background: #1e1e1e;
        text-decoration: none;
        margin: 0 15px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        width: 300px;
        margin: auto;
    }
    nav b {
        /* selected */
        background: #121212;
    }
    #about {
        max-width: 100%;
        margin: 0 auto;
    }
    .flex-container {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .flex-child {
        flex: 1;
    }  
    .flex-child:first-child {
        max-width: 50%;
        margin: 0 auto;
    } 
    .mission-text {
        text-align: center;
    }
    form {
        width: 300px;
        max-width: 90%;
    }
}

/* tablet devices */

@media (max-width: 1200px) {
   .video-item iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 98.2%;
        height: 90%;
        border: 3px solid #4eb2ea;
        border-radius: 15px; /* Add rounded corners */
    }
    #about {
        max-width: 100%;
        margin: 0 auto;
    }
        #about {
        max-width: 100%;
        margin: 0 auto;
    }
    .flex-container {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .flex-child {
        flex: 1;
        align-self: center;
    }  
    .flex-child:first-child {
        margin-right: 20px;
        margin-left: 20px;
        align-self: center;
    } 
}
